---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ksbb7zto17p9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"efae20eceefa3dc5397bdcb3d75461f7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-1380627411
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"ksbb7zto17p9",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-17T09:54:48Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-17T09:54:48Z"
          },
          "name":"test"}
  recorded_at: Wed, 17 Sep 2014 10:36:40 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"424f610243ac4ba6840919f7bb09d49b"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Codequest",
              "description": "Testing",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "uiid": "4pvoh3rqqkg"
                },
                {
                  "id": "number",
                  "name": "Number",
                  "type": "Integer",
                  "uiid": "3sfw74p60ao"
                },
                {
                  "id": "float1",
                  "name": "Float",
                  "type": "Number",
                  "uiid": "4imo3thvny8"
                },
                {
                  "id": "boolean",
                  "name": "Boolean",
          [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types/
    body:
      encoding: UTF-8
      string: '{"name":"Codequest","description":"Testing","fields":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"50481a0be20a1f331eb36087df2575fd"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Codequest",
          "description": "Testing",
          "fields": [],
          "sys": {
            "id": "24jJwCT1bWskqEOOASgUCG",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-09-17T10:35:32.293Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ksbb7zto17p9"
              }
            },
            "updatedAt": "2014-09-17T10:35:32.293Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 17 Sep 2014 10:36:41 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types/24jJwCT1bWskqEOOASgUCG
    body:
      encoding: UTF-8
      string: '{"name":"Codequest","description":"Testing","fields":[{"id":"name","name":"Name","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"400b015a684224e2028de707a3a5f90f"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Codequest",
          "description": "Testing",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text"
            }
          ],
          "sys": {
            "id": "24jJwCT1bWskqEOOASgUCG",
            "type": "ContentType",
            "createdAt": "2014-09-17T10:35:32.293Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ksbb7zto17p9"
              }
            },
            "version": 2,
            "updatedAt": "2014-09-17T10:35:33.164Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 17 Sep 2014 10:36:42 GMT
[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/webhook_definitions/
    body:
      encoding: UTF-8
      string: '{"url":"https://www.example.com"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 422 Unprocessable Entity
      X-Contentful-Request-Id:
      - 71a-918363182
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"ValidationFailed"
          },
          "requestId":"71a-918363182",
          "message":"The resource you sent in the body is invalid.",
          "details":{
            "errors":[
              {
                "name":"taken",
                "path":"url",
                "value":"https://www.example.com"
              }
            ]
          }}
  recorded_at: Wed, 17 Sep 2014 10:36:52 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types/24jJwCT1bWskqEOOASgUCG/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '14'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-T[...]
[...]
