---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"test"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - <ORGANIZATION_ID>
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"55933ea9af171dcbed0b69d60dfbf632"'
      Location:
      - https://api.contentful.com/spaces/fv2hfbgc3gf8
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 71a-918354904
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"fv2hfbgc3gf8",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-17T09:56:43Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-17T09:56:43Z"
          },
          "name":"test"}
  recorded_at: Wed, 17 Sep 2014 09:57:57 GMT
recorded_with: VCR 2.9.3
