---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ksbb7zto17p9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"efae20eceefa3dc5397bdcb3d75461f7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 71a-918376920
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"ksbb7zto17p9",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-17T09:54:48Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-17T09:54:48Z"
          },
          "name":"test"}
  recorded_at: Wed, 17 Sep 2014 11:40:59 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1dd66235a92c9facbe92cca5f5e06e24"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Codequest",
              "description": "Testing",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "uiid": "4l71wvmwdts"
                },
                {
                  "id": "number",
                  "name": "Number",
                  "type": "Integer",
                  "uiid": "2w5yrdm2bcw"
                },
                {
                  "id": "float1",
                  "name": "Float",
                  "type": "Number",
                  "uiid": "4luul26a0ow"
                },
                {
                  "id": "boolean",
                  "name": "Boolean",
          [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/assets/
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"StorageRoom file"},"description":{"en-US":"test"},"file":{"en-US":{"contentType":"image/png","fileName":"fix_this_name","upload":"http://files.storageroomapp.com/accounts/account_id/collection/540d6d001e29fa3541000d2d/entries/540d6d961e29fa3559000d0d/fields/k540d6d001e29fa3541000d34/file.png"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.manageme[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/assets/LjiUYqF3k2SKkmEyQ2Yc0/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Sep 2014 11:41:01 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/assets/6GGpDNJTRCYeOGyWKmUqky/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Sep 2014 11:41:03 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/content_types/24jJwCT1bWskqEOOASgUCG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ksbb7zto17p9/entries/540d6d961e29fa3559000d0d
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Test"},"number":{"en-US":11},"float1":{"en-US":1.1},"boolean":{"en-US":true},"date":{"en-US":"2014-09-03"},"time":{"en-US":"2014-09-09T06:13:00Z"},"location":{"en-US":{"lat":53.13248859999999,"lon":23.168840300000056}},"file":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"LjiUYqF3k2SKkmEyQ2Yc0"}}},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"6GGpDNJTRCYeOGyWKmUqky"}}},"array":{"en-US":["some
        value","second value","third value"]},"entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"4d960919ba05617333000012"}}},"entries":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"4e2ea1674d085d46a7000021"}},{"sys":{"type":"Link","linkType":"Entry","id":"4e2ea1644d085d46e0000019"}}]},"object_json":{"en-US":null}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 24jJwCT1bWskqEOOASgUCG
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c5957f0125b187f2d3bc3ef66c96977"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Test"
            },
            "number": {
              "en-US": 11
           [...]
[...]
