---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/pwgzawloi92k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2d227c41bc22e46abed43ffe316cf339"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-941147472
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"pwgzawloi92k",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-09-18T11:29:33Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-09-18T11:29:33Z"
          },
          "name":"TestingafterRefactor\n"}
  recorded_at: Fri, 19 Sep 2014 11:06:47 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/pwgzawloi92k/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"903d92b076840cec127d05b02ff0aa4c"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Codequest",
              "description": "Testing",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text"
                },
                {
                  "id": "number",
                  "name": "Number",
                  "type": "Integer"
                },
                {
                  "id": "float1",
                  "name": "Float",
                  "type": "Number"
                },
                {
                  "id": "boolean",
                  "name"[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/pwgzawloi92k/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8ae36a6632bcf1a31b71a960030a2cb9"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Test z plikiem"
                },
                "number": {
                  "en-US": 11
                },
                "float1": {
                  "en-US": null
                },
                "boolean": {
                  "en-US": null
                },
                "date": {
                  "en-US": null
                },
                "time": {
                  "en-US": null
                },
                "location": {
                  "en-US": null
                },
                "file": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "3FEY2ZA4JOEu8IqwCysSYO"
                    }
                  }
                },
                "image": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "1Z3L7KdYhCoe6SA2mK0wmm"
                    }
                  }
                },
                "array": {
                  "en-US": []
                },
                "entry": {
                  "en-US": null
                },
                "entries": {
                  "en-US": []
                },
                "object_json": {
                  "en-US": {
                    "entry": {
                      "@type": "Codequest",
                      "@url": "http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/540d6d001e29fa3541000d2d/entries/540d6d961e29fa3559000d0d",
                      "@collection_url": "http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/540d6d001e29fa3541000d2d",
                      "@version": 2,
                      "@trash": false,
                      "@created_at": "2014-09-08T08:49:26Z",
                      "@updated_at": "2014-09-12T08:49:46Z",
                      "name": "Test",
                      "number": 11
                    }
                  }
                }
              },
              "sys": {
                "id": "5412e93a1e29fa07dd00178b",
                "type": "Entry",
                "createdAt": "2014-09-18T11:30:12.844Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "pwgzawloi92k"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "4I3VZrr0Ewc8mYee6AsGYA"
                  }
                },
                "firstPublishedAt": "2014-09-19T06:31:46.059Z",
                "publishedCounter": 1,
                "version": 5,
                "updatedAt": "2014-09-19T06:31:52.183Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Fri, 19 Sep 2014 11:06:48 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/pwgzawloi92k/entries/5412e93a1e29fa07dd00178b/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b9b3c216d278ab208965c87c5a234ffe"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Test z plikiem"
            },
            "number": {
              "en-US": 11
            },
          [...]
