---
http_interactions:
- request:
    method: get
    uri: http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections.json?auth_token=HKqZqeesYzwmB3DC6eeZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"07493a7a638d7722da61013620286fd9"'
    body:
      encoding: UTF-8
      string: '{"array":{"@url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections","@type":"Array","resources":[{"@type":"Collection","@url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/4d96091dba0561733300001b","@account_url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004","@entries_url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/4d96091dba0561733300001b/entries","@deleted_entries_url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/deleted_entries?collection_url=http%3A%2F%2Fapi.storageroomapp.com%2Faccounts%2F4d13574cba05613d25000004%2Fcollections%2F4d96091dba0561733300001b","@version":6,"@created_at":"2011-04-01T17:19:25Z","@updated_at":"2014-09-15T07:12:43Z","name":"Announcements","note":"","entry_type":"Announcement","primary_field_identifier":"text","fields":[{"@type":"StringField","name":"Text","identifier":"text","show_in_interface":true,"edit_in_interface":true,"input_type":"text_area","required":true,"include_blank_choice":false},{"@type":"StringField","name":"Locale","identifier":"locale","show_in_interface":true,"edit_in_interface":true,"input_type":"select","required":true,"include_blank_choice":false,"choices":["en","de"]},{"@type":"StringField","name":"Type","identifier":"type","show_in_interface":true,"edit_in_interface":true,"input_type":"select","required":true,"include_blank_choice":false,"choices":["announcement"]},{"@type":"StringField","name":"Link","identifier":"link","show_in_interface":true,"edit_in_interface":true,"input_type":"text_field","include_blank_choice":false},{"@type":"FileField","name":"Image","identifier":"image","show_in_interface":true,"edit_in_interface":true,"input_type":"file","hint":"Upload
        an icon image"}],"webhook_definitions":[{"@type":"WebhookDefinition","url":"http://www.postbin.org/195aj9e","on_create":true,"on_update":true,"on_delete":true,"api":true,"web_interface":true},{"@type":"WebhookDefinition","url":"https://www.example2.com","on_create":true,"on_update":true,"on_delete":true,"api":true,"web_interface":true}]},{"@type":"Collection","@url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/4dff88d74d085d6010000033","@account_url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004","@entries_url":"http://api.storageroomapp.com/accounts/4d13574cba05613d25000004/collections/4dff88d74d085d6010000033/entries","@delet[...]
