---
http_interactions:
- request:
    method: get
    uri: http://api.storageroomapp.com/accounts/account_id/collections.json?auth_token=application_api_key&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"31a0bb86725e09278c8ba8fd04a48a89"'
    body:
      encoding: UTF-8
      string: '{"array":{"@url":"http://api.storageroomapp.com/accounts/account_id/collections?per_page=100","@type":"Array","resources":[{"@type":"Collection","@url":"http://api.storageroomapp.com/accounts/account_id/collections/540d6d001e29fa3541000d2d","@account_url":"http://api.storageroomapp.com/accounts/account_id","@entries_url":"http://api.storageroomapp.com/accounts/account_id/collections/540d6d001e29fa3541000d2d/entries","@deleted_entries_url":"http://api.storageroomapp.com/accounts/account_id/deleted_entries?collection_url=http%3A%2F%2Fapi.storageroomapp.com%2Faccounts%2Faccount_id%2Fcollections%2F540d6d001e29fa3541000d2d","@version":8,"@created_at":"2014-09-08T08:46:56Z","@updated_at":"2014-10-06T08:23:07Z","name":"Codequest","note":"Testing","entry_type":"Codequest","primary_field_identifier":"name","fields":[{"@type":"StringField","name":"Name","identifier":"name","show_in_interface":true,"edit_in_interface":true,"input_type":"text_field","include_blank_choice":false},{"@type":"IntegerField","name":"Number","identifier":"number","show_in_interface":true,"edit_in_interface":true,"input_type":"text_field","include_blank_choice":false},{"@type":"FloatField","name":"Float","identifier":"float1","show_in_interface":true,"edit_in_interface":true,"input_type":"text_field","include_blank_choice":false},{"@type":"BooleanField","name":"Boolean","identifier":"boolean","show_in_interface":true,"edit_in_interface":true,"input_type":"radio","include_blank_choice":false,"choices":[["Yes",true],["No",false]]},{"@type":"DateField","name":"Date","identifier":"date","show_in_interface":true,"edit_in_interface":true,"input_type":"date_picker","include_blank_choice":false},{"@type":"TimeField","name":"Time","identifier":"time","show_in_interface":true,"edit_in_interface":true,"input_type":"time_picker","include_blank_choice":false},{"@type":"LocationField","name":"Location","identifier":"location","show_in_interface":true,"edit_in_interface":true,"input_type":"location"},{"@type":"FileField","name":"File","identifier":"file","show_in_interface":true,"edit_in_interface":true,"input_type":"file"},{"@type":"ImageField","name":"Image","identifier":"image","show_in_interface":true,"edit_in_interface":true,"input_type":"file","versions":[]},{"@type":"ArrayField","name":"Array","identifier":"array","show_in_interface":true,"edit_in_interface":true,"input_type":"array_field"},{"@type":"OneAssociationField","name":"Entry","identifier":"entry","show_in_interface":true,"edit_in_interface":true,"input_type":"association_field","collection_url":"http://api.storageroomapp.com/accounts/account_id/collections/4d960916ba05617333000005"},{"@type":"ManyAssociationField","name":"Entries","identifier":"entries","show_in_interface":true,"edit_in_interface":true,"input_type":"association_field","collection_url":"http://api.storageroomapp.com/accounts/account_id/collections/4dff88d74d085d6010000033"},{"@type":"JsonField","name":"Object","identifier":"object_json","show_in_interface":true,"edit_in_interface":true,"input_type":"json_field"},{"@type":"BooleanField","name":"checkbox","identifier":"checkbox","show_in_interface":true,"edit_in_interface":false,"input_type":"radio","include_blank_choice":false,"choices":[["Yes",true],["No",false]]},{"@type":"ArrayField","name":"wiele_wyborow","identifier":"wiele_wyborow","show_in_interface":true,"edit_in_interface":true,"input_type":"check_boxes","choices":["Dom","Chata","Palac","Baza","Hotel","Motel"]}],"webhook_definitions":[{"@type":"WebhookDefinition","url":"https://www.example.com","on_create":true,"on_update":true,"on_delete":true,"api":true,"web_interface":true},{"@type":"WebhookDefinition","url":"https://www.example2.com","on_create":true,"on_update":true,"on_delete":true,"api":true,"web_interface":true}]}]}}'
  recorded_at: Tue, 07 Oct 2014 07:53:08 GMT
recorded_with: VCR 2.9.3
